@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import "tailwindcss";

:root {
  --primary-light: #e0e7ff;
  --primary: #4f46e5;
  --primary-hover: #4338ca;

  --bg-page: rgba(248, 252, 252, 0.984);
  --bg-card: #ffffff;
  --border: #e2e8f0f7;

  --sidebar-gradient-top: #5d4a9f;
  --sidebar-gradient-bottom: #2b4b9c;
  --sidebar-text: #ffffff;
  --sidebar-active: #6d51d2;
  --sidebar-icon-active: #ffffff;
  --sidebar-hover: #7d6adf;

  --text-primary: #0f172a;
  --text-secondary: #64748b;

  --status-success-bg: #dcfce7;
  --status-success-text: #16a34a;

  --status-warning-bg: #fef3c7;
  --status-warning-text: #d97706;

  --status-danger-bg: #fee2e2;
  --status-danger-text: #dc2626;

  --status-info-bg: #dbeafe;
  --status-info-text: #2563eb;

  --font-sans: "Poppins", sans-serif;
  color-scheme: dark;
}

body {
  font-family: var(--font-sans);
  background-color: var(--primary);
  color: var(--text-primary);
}

/* Custom styles for Tailwind components */
.input-field {
  @apply bg-(--bg-card) py-2 px-2 rounded-lg border border-(--border) placeholder:text-sm text-sm  focus:outline-0 p-1 w-full focus:ring-1 focus:ring-(--primary);
}
.sidebar-link-active {
  @apply bg-(--sidebar-active) text-(--sidebar-text) py-2 rounded-md pl-2 transition duration-300 ease-in-out;
}

.sidebar-link-inactive {
  @apply text-(--sidebar-text) py-2 hover:bg-(--sidebar-hover) hover:pl-2 rounded-md cursor-pointer transition  duration-300 ease-in-out;
}
.primary-button {
  @apply bg-(--primary) text-(--primary-light) px-3 py-2 rounded-md hover:bg-(--primary-hover) transition-colors duration-300 mt-4 cursor-pointer;
}
.secondary-button {
  @apply bg-(--bg-card) text-(--text-secondary) p-2 rounded-md border border-(--border) hover:bg-(--primary-light) transition-colors duration-300 mt-4 cursor-pointer;
}
.text-btn {
  @apply text-sm px-3 py-1 rounded-md border hover:bg-(--primary-hover) cursor-pointer transition-colors duration-300;
}
.danger-button {
  @apply bg-(--status-danger-bg) text-sm px-3 py-1 rounded-md border hover:bg-(--status-danger-bg) cursor-pointer transition-colors duration-300;
}
.danger-button:hover {
  @apply text-(--status-danger-text);
}
.error-message {
  @apply text-(--status-danger-text) text-sm mt-1;
}
